<div class="container-fluid">
  <div class="hero">
    <div class="img-hero">
    </div>
    <div class="hero-text">
      <h1>¡Bienvenido a tu portfolio!</h1>
      <p>En este lugar podrás gestionar la informacion que especta a tu actividad laboral y educativa, tanto como personal, para facilitar la creación de un lugar donde puedas cargar la información correspondiente a tu curriculum.</p>
      <a  [routerLink]="['/portfolio']" class="btn btn-outline-primary btn-block">
        Ingresar
    </a>
    </div>
  </div>


</div>

  