<nav class="shadow-4-strong">
    <div>
        <div class="navmenu d-flex justify-content-between px-4 py-2 shadow-4-strong">

            <div class="title row d-flex align-items-center py-2">
                <div class="col logo">
                    <img src="assets\icons\WhatsApp-Image-2021-09-07-at-6.21.svg" alt="">
                </div>
                <div class="col text">
                    <h1 class=" text-uppercase mx-2">Argentina Programa</h1>
                    <p class="disclaimer text-muted">Hecho con <i class="fas fa-heart"></i></p>
                </div>
            </div>
            
            <div class="menu d-flex align-items-center">
                <div class="links col">
                    <a [routerLink]="['/']" class="px-2">Inicio</a>
                    <a [routerLink]="['/notFound']" class="px-2">Más</a>
                </div>
                <div class="btns d-flex align-items-center justify-content-between">
                    <!-- 
                    <a class="btn btn-primary" style="background-color: #3b5998;" href="#!" role="button">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a class="btn btn-primary" style="background-color: #ac2bac;" href="#!" role="button">
                        <i class="fab fa-instagram"></i>
                    </a> -->
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-instagram "></i>
                    <i class="fab fa-linkedin-in"></i>
                    <a [routerLink]="['/login']"><button type="button" class="btn btn-success">Login</button> </a>
                </div>
            </div>

        </div>
    </div>
</nav>