<div class="hero container-fluid m-0 p-0">
    <div class="user-card px-3">
        <div class="banner">
            <img
            src="https://www.hays.es/documents/26770067/27052177/Image_Tech_Job_Software_Developer_LandingPage.jpg/cf2164d1-994b-1bfb-63f3-227b6c87fa20?t=1630661083863"
            class="rounded-3   "
             >
        </div>

        <div class="user-info">
            <div class="user-icon">
                <img 
                src="https://t3.ftcdn.net/jpg/05/05/59/94/360_F_505599409_kpP9a01lXkN7XR3anYaHSFVFzEP1E7fn.jpg" 
                alt="">
            </div>

            <div class="info">
                <div class="personal-info p-2">
                    <h2>Carlos Matias Olivera</h2>
                    <p>user@gmail.com</p>
                    <p>351638770</p>
                    <p>Unquillo, Cordoba</p>
                </div>
                <div class="p-2 about-me">
                    <h2>Sobre Mi</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus volutpat magna sed efficitur volutpat. Mauris imperdiet metus sed neque maximus dapibus. Morbi mollis eros nec nisl dictum, in ullamcorper elit imperdiet. Etiam vulputate non enim vel imperdiet. Quisque hendrerit tempus turpis, sed tempor eros rutrum sed. Phasellus in laoreet purus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce sit amet sollicitudin felis.</p>
                </div>  
            </div>


        </div>
    </div>
</div>