<div class="content container-fluid m-0 p-0">
    <section class="user-card px-3">
        <div class="banner">
            <img
            src="https://www.hays.es/documents/26770067/27052177/Image_Tech_Job_Software_Developer_LandingPage.jpg/cf2164d1-994b-1bfb-63f3-227b6c87fa20?t=1630661083863"
            class="rounded-3   "
             >
        </div>

        <div class="user-info">
            <div class="user-icon">
                <a routerLink="editProfilePic/{{currentUser.id}}">
                    <img class="edit-url" src="https://cdn.icon-icons.com/icons2/841/PNG/512/flat-style-circle-edit_icon-icons.com_66939.png" alt="">
                </a>
                <img [src]="currentUser.profileUrl" alt="" srcset="">

            </div>
            <div class="info">
                <div class="personal-info p-2">
                    <h2>{{currentUser.nombre + " " + currentUser.apellido}} </h2>
                    <p>Email: {{currentUser.email}}</p>
                    <p>Telefono {{currentUser.telefono}}</p>
                    <p>Fecha de nacimiento: {{currentUser.birthday}} </p>
                    <p *ngFor="let location of currentUser.statesTownships">Lugar de residencia {{location.township.township + ", " + location.state.state}} </p>
                </div>
                <div class="py-2 about-me">
                    <div class="title d-flex align-content-center justify-content-between py-2">
                        <h2>Sobre Mi</h2>
                        <button routerLink="editUser/{{currentUser.id}}" class="btn btn-success btn-sm " type="button" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-edit"></i></button>    
                    </div>
                    <p *ngIf="!currentUser.about">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus volutpat magna sed efficitur volutpat. Mauris imperdiet metus sed neque maximus dapibus. Morbi mollis eros nec nisl dictum, in ullamcorper elit imperdiet. Etiam vulputate non enim vel imperdiet. Quisque hendrerit tempus turpis, sed tempor eros rutrum sed. Phasellus in laoreet purus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce sit amet sollicitudin felis.</p>
                    <p *ngIf="currentUser.about"> {{currentUser.about}} </p>
                </div>  
            </div>
        </div>
    </section>

    <div class="line"></div>

    <section class="work container-fluid">
        <div class="row p-4 ">
            <div class="title">
                <h1>Experiencia laboral</h1>
                <button [routerLink]="['addProfessions']"  class="btn btn-primary btn-sm " type="button" data-toggle="tooltip" data-placement="top" title="Add"><i class="fa fa-table"></i>Añadir</button>
            </div>
            <article class="col" *ngFor="let prof of professions">
                <div class="actions">
                    <button routerLink="editProfessions/{{prof.id}}" class="btn btn-success btn-sm " type="button" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-edit"></i></button>
                    <button (click)="onDeleteProfession(prof.id)" class="btn btn-danger btn-circle btn-sm"><i class="fas fa-trash"></i></button>`
                </div>  
                <article class="col">
                    <div class="row p-4" >
                        <div class="image col-2">
                            <img
                            src="https://www.i3-technologies.com/media/te0hk1sa/business_icon-2-1.png" 
                            alt=""
                            class="img">    
                        </div>
                        <div class="job-info col">
                            <h2> {{prof.position}} </h2>
                            <p> {{prof.company.company}} </p>
                            <p> Desde {{prof.since}} hasta {{prof.until}}</p>
                            <p> {{prof.description}} </p>
                        </div>
                    </div>
                </article>
            </article>
        </div>
    </section>

    <div class="line"></div>

    <section class="education container-fluid">
        <div class="row p-4">
            <div class="title">
                <h1>Educación</h1>
                <button [routerLink]="['addEducation']"  class="btn btn-primary btn-sm " type="button" data-toggle="tooltip" data-placement="top" title="Add"><i class="fa fa-table"></i>Añadir</button>
            </div>
            <section class="education col" *ngFor="let edu of userInstitutes">
                <div class="actions">
                    <button routerLink="editEducation/{{edu.id}}" class="btn btn-success btn-sm " type="button" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-edit"></i></button>
                    <button (click)="onDeleteEduItem(edu.id)" class="btn btn-danger btn-circle btn-sm"><i class="fas fa-trash"></i></button>`
                </div>
                <article>
                    <div class="row p-4">
                        <div class="image col-2">
                            <img
                            src="https://cdn-icons-png.flaticon.com/512/46/46955.png" 
                            alt=""
                            class="img">    
                        </div>
                        <div class="stablishment-info col">
                            <h2>{{edu.titulo}} </h2>
                            <p> {{edu.institute.institute}}.</p>
                            <p> {{edu.descripcion}} </p>
                        </div>
                    </div>
                </article>
            </section>
        </div>
    </section>

    <div class="line"></div>
<!--
    <section class="skills row p-4 d-flex">
        <h1>Habilidades</h1>
        <article class="skill col bg-primary">
            <h2 class="text-light">Inglés</h2>
            <div class="progress-bar my-4">
                <div class="progress">
                    <div
                    class="progress-bar bg-warning"
                    role="progressbar"
                    [style.width.%]="number"
                    aria-valuenow="number"
                    aria-valuemin="0"
                    aria-valuemax="100"
                    >
                    {{number}}%
                    </div>
                </div>
            </div>
        </article>
                
    </section>
-->
    <div class="line"></div>

    <section class="projects row">
        <div class="title">
            <h1>Proyectos</h1>
            <button [routerLink]="['addProjects']"  class="btn btn-primary btn-sm " type="button" data-toggle="tooltip" data-placement="top" title="Add"><i class="fa fa-table"></i>Añadir</button>
        </div>
        <article class=" project col" *ngFor="let proyect of projects">
            <div class="actions">
                <button routerLink="editProjects/{{proyect.id}}" class="btn btn-success btn-sm " type="button" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-edit"></i></button>
                <button (click)="onDeleteProject(proyect.id)" class="btn btn-danger btn-circle btn-sm"><i class="fas fa-trash"></i></button>`
            </div>
            <div class="project-preview">
                <img
            src="https://www.hays.es/documents/26770067/27052177/Image_Tech_Job_Software_Developer_LandingPage.jpg/cf2164d1-994b-1bfb-63f3-227b6c87fa20?t=1630661083863"
            class=""
             >
            </div>
            <div class="project-info">
                <h2> {{proyect.projectName}} </h2>
                <p> {{proyect.description}} </p>
                <a href="{{proyect.repositoryUrl}}"><button type="button" class="btn btn-success">Ir al proyecto</button> </a>
            </div>
        </article>
    </section>
</div>
