
.content {
    background-color: #F5F5F5;
}
.user-card {
    height: 40rem;
}
.user-card img {
    height: 20rem;
    width: 100%;
}
.user-info {
    margin: 3rem;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    transform: translateY(-55%);
    max-width: fit-content;
}
.user-icon {
    border-radius: 2rem !important;
}
.user-info .user-icon img {
    max-width: 16rem;
    height: 13rem;
    border-radius: 1rem;
}
.info {
    display: flex;
    flex-direction: row;
    justify-content: space;
    width: 100%;
}
.personal-info {
    width: 100%;
}
.line {
    width: 100%;
    height: .1rem;
    background-color: #424242;
}
.work, .education {
    width: 95%;
}
.work article {
    background-color: #E0E0E0;
    border-radius: .5rem;
    margin: 1rem 0;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.work .image  {
    width: 13rem;
    height: 13rem;
}
.work .image img{
    border-radius: .5rem;
    width: 100%;
    height: 98%;
    margin: 0 0;
}

.education button {
    width: auto;
    padding: 1rem;
}
.skills {
    margin: 0 3rem;
}
.skill {
    background-color: #E0E0E0;
    position: relative;
    margin: 1rem;
    padding: 2rem;
    border-radius: 1rem;
}
.progress {
    height: 1.5rem;
}
.progress-bar {
    border-radius: .3rem;
}
.projects {
    display: flex;
    padding: 2rem 4rem !important;
    margin: 0 1rem ;
}
.project {
    padding: 1rem;
    width: 5rem;
    border-radius: 1rem;
}

.project .project-preview img{
    width: 100%;
    height: 15rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}
.project-info {
    padding: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background-color: #E0E0E0;
}

@media (max-width: 912px) {
    .user-card {
        height: auto;
    }
    .user-info {
        transform: translateY(-25%);
    }
    .info {
        flex-direction: column;
        justify-content: none;
    }
    .work .image , .education .image {
        display: flex;
        justify-content: center;
        margin-bottom: 2rem;

    }
    .work .image img, .education .image img{
        margin: 1rem;
    }
    .work article, .education article {
        flex-direction: row;
        align-items: flex-start;
    }
    .skills {
        padding: 0;
        margin: 0;
    }
    .projects {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 1rem !important;
        width: 100%;
    }
    .project {
        width: 100%;
        margin: 0;
    }
    

}
@media (min-width: 912px) and (max-width: 1280px) {
    
    .user-card {
        height: 45rem;
    }
    .user-info {
        transform: translateY(-45%);
    }
    .about-me {
        width: 100%;
    }

}