<app-header></app-header>

<div class="row-md-auto">
  <div class="col-auto container-fluid bg-info  p-4 m-4">
    <h1 class="text-white text-uppercase"> {{title}} is runing!</h1>
  </div>
  <div class="col-auto container-fluid bg-primary p-4 m-4">
    <h1 class="text-white text-uppercase"> {{title}} is runing!</h1>
  </div><div class="col-auto container-fluid bg-primary p-4 m-4">
    <h1 class="text-white text-uppercase"> {{title}} is runing!</h1>
  </div><div class="col-auto container-fluid bg-primary p-4 m-4">
    <h1 class="text-white text-uppercase"> {{title}} is runing!</h1>
  </div>
</div>

<app-footer></app-footer>
