
<section class="education">
    <article *ngFor="let edu of currentUser.usuarioEducacion" >
        <div class="row p-4" *ngIf="!displayEditEducationItem" >
            <div class="image col-2">
                <img
                src="https://upload.wikimedia.org/wikipedia/commons/6/67/UTN_logo.jpg" 
                alt=""
                class="img">    
            </div>
            <div class="stablishment-info col">
                <h2>{{edu.titulo}} </h2>
                <p> {{edu.institute.institute}}.</p>
                <p> {{edu.descripcion}} </p>
            </div>
            <div class="actions">
                <button (click)="onPress()" class="btn btn-success btn-sm " type="button" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-edit"></i></button>
                <button class="btn btn-danger btn-circle btn-sm"><i class="fas fa-trash"></i></button>`
            </div>
        </div>
       
        <div *ngIf="displayEditEducationItem" class="addEdItem">
            <app-edit-education></app-edit-education>
            <button class="btn btn-outline-primary" (click)="onPress()">
                <i class="fas fa-arrow-alt-circle-left"></i> Volver</button>
        </div>
    </article>
</section>
